.ItemCount{

    margin-top: 50px;
    text-align:  center;
}

.ItemCount button{
    margin: 10px;
    border-radius: 5px;
    justify-content: center;
    background-color: #fff;
    border-color: #353535;

}

.ItemCount button:hover{
    background-color: #e7e5e5;
}